#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding: 12px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
/* .active {
  color: #fe0505;
} */
