:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(12, 1, 1, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#adabab, #424141);
}

a {
  font-weight: 500;
  color: #f4b485;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
span {
  color: #eee;
  font-weight: 600;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.accent {
  color: rgb(0, 255, 200);
}
.button {
  padding: 10px 20px;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff, 100%);
  color: rgb(0, 0, 0);
}
.button:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
}
.bord {
  display: inline-block;
  border: 1px solid rgb(0, 255, 200);
  box-shadow: 0px 5px 7px #696767;
  border-radius: 3px;
  padding: 3px 5px;
}
/* .bordSection {
  border: 1px solid #adabab;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px rgb(155, 155, 157);
  margin-bottom: 20px;
}
.active {
  color: rgb(142, 215, 199);
} */
